.slider__holder {
    margin-top: -10vh;
    background-image: linear-gradient(180deg, black, rgba(17, 17, 17, 0.5) 5%, var(--black-grey));
    padding-bottom: 1rem;
}

@media screen and (max-width:700px) {
    .slider__holder {
        margin-top: 1rem;
        background-image: linear-gradient(180deg, black, rgba(17, 17, 17, 0.5) 1%, var(--black-grey));
    }
}